/* 기본 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* 로딩 애니메이션 */
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

/* 헤더 스타일 */
header{
    position: fixed;
    top: 0;
    width: 100%;
}

.header-top {
    
    width: 100%;
    background: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav {

    width: 100%;
    background: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

.user-menu a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}


/* 콘텐츠 영역 */
#content {
    padding: 20px;
}

.products, .notice, .partnership {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* 비주얼 이미지 영역 */
#visual-banner {
    margin-top: 60px;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

/* 슬라이드 컨테이너 스타일 */
.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index: -1;
   
}

.slides {
    display: flex;
    width: 400%; /* 4개의 이미지가 한 줄로 나열됨 */
    animation: slide 12s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

/* 푸터 스타일 */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}